@font-face {
  font-family: "Bitstream Vera Serif Bold";
  src: url("/static/styles/libs/font-awesome/fonts/fontawesome-webfont.fdf491ce5ff5.woff");
}


p 
{
	
	font-size: small;

}


#tout

 {
 	
 	font-family: "Raleway", serif, sans-serif;
 	margin: 0% 5% 0% 5%;
 	
}

header 
{
 	display: flex;
 	align-items: center;
 	justify-content: space-between;	
}
div .reservia img 
{
	width: 20%;
	height: auto;
	margin-right: 100px;
	padding-top: 2rem;
	left: 150px;
}
nav a:hover 
{
    border-top: 3px solid #0065fc;
    text-decoration: none;
}
 nav .nav-link2:hover
 {
 	 border-top: 3px solid gray;
 	 text-decoration: none;      
 }       
 li  
 {
 	display: inline-flex;
 	justify-content: space-between;
 	justify-content: flex-end;
 	list-style-type: none;
 	margin: 10px;
 	padding: 10px;
}
 .nav-link1
 {
 	color: #0065FC;
 	justify-content: flex-end;
 	position: absolute;
 	right: 400px;
 	top: 0px;
 	text-decoration: none;
 	padding-top: 50px;
 }

 .nav-link2
 {
 	color: gray;
 	justify-content: flex-end;
 	position: absolute;
 	right: 290px;
 	top: 0px;
 	text-decoration: none;
 	padding-top: 50px;
 }

 .nav-link3
 {
 	color: #0065FC;
 	justify-content: flex-end;
 	position: absolute;
 	right: 180px;
 	top: 0px;
 	text-decoration: none;
 	padding-top: 50px;
 }

 form 
 {
 	display: flex;
 	height: 40px;
 	width: 300px;
  padding: 5px;

 }
 .label
 {
 	font-weight: 600;
 	font-size: large;
 }

 input
 {
 	font-weight: bold;
 	font-size: 15px;
  	border: 1px solid #f2f2f2;
 	padding: 15px;
 	margin: 0px;
 }
 
 .rech
 {
 	background-color:  #0065FC;
 	color: white;
 	text-align: justify;
 	font-size: 20px;
  	padding: 16px;
 	margin: 0px;
 	border-radius: 0px 10px 10px 0px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }
.search
{
	display: none;
}
.local
{
	border: solid #f2f2f2;
	padding: 13px;
	border-radius: 10px 0px 0px 10px;
	background-color: #f2f2f2;
	display: flex;
	justify-content: center;
	align-items: center;
}


h2 h3 h4 h5
{
	font-weight: bold;
}



 body /*pas necessaire*/
 {
 	background-image: url(Resevia.svg);
 	background-attachment: scroll;
 	background-repeat: no-repeat;
 	background-position: top left;
 }
 
 

 
/*barre de navigation */

.filtres
{
	margin: 7px;
	display: inline-flex;
	font-weight: bold ;
	align-items: center;
	
}

.filtremot
{

	padding-right: 15px;
}

div .filtre1
{
	border: 2px solid #f2f2f2;
	border-radius: 100px;
	margin: 7px;
	display: inline-flex;
	align-items: center;
	padding-right: 10px;


}
.filtre1:hover
{
	text-decoration: none;
	background-color: #f2f2f2;
}
.billet
{
	color:#0065FC;
	background-color: #DEEBFF;
  font-size: 20px; 
  border-radius: 50%;
  display: flex;
  justify-content: center; 
  align-items: center;
  width : 2.5rem;
  height: 2.5rem;
  margin-right : 10px;
  border-radius: 1.5rem;
}
.bonhomme
{
	color:#0065FC; 
	background-color: #DEEBFF; 
	font-size: 20px; 
	border-radius: 50%;
}
div .filtre2
{
	border: 2px solid #f2f2f2;
	border-radius: 20px;
	padding: 10px;
	margin: 7px;
}
.filtre2:hover
{
	text-decoration: none;
	background-color: #f2f2f2;
}
.coeur 
{
	color:#0065FC; 
	background-color: #DEEBFF; 
	font-size: 20px;
	border-radius: 50%;

}
div .filtre3
{
	border: 2px solid #f2f2f2;
	border-radius: 20px;
	padding: 10px;
	margin: 7px;

}
.filtre3:hover
{
	text-decoration: none;
	background-color: #f2f2f2;
}
.chien
{
	color:#0065FC; 
	background-color: #DEEBFF; 
	font-size: 20px;
	border-radius: 100px;
}
div .filtre4
{
	border: 2px solid #f2f2f2;
	border-radius: 20px;
	padding: 10px;
	margin: 7px;


}
.filtre4:hover
{
	text-decoration: none;
	background-color: #f2f2f2;
}

.hebetpop
{
	display: flex;
	


}


.info
{
	margin: 40px 0px 40px 0px;
}

.iinfo
{
	color: white;
  background-color: #0065FC;
  font-size: 20px;
  border-radius: 100%;
  border-color: #f2f2f2;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
}
.etoiles 
{
	display: block;
}
.etoilebleu
{
	color:#0065FC; 
	background-color: white;
}
.etoilegrise
{
	color:#f2f2f2; 
	background-color: white
}
.container /*hebergement*/
{
	width: 60%;
	background-color: #f2f2f2;
	border-radius: 15px;
}
.container1

{   display: flex;
	flex-wrap: wrap;
       
}

#hebergements /*titre*/
{
	align-content: flex-start;
	flex: 800px;
	padding-left: 15px;
}
div .container1 img 
{
	border-radius: 15px 15px 0px 0px;
	margin-top: 2px;
	height: 160px;
}
div .container1 a 
{
	text-decoration: none;
	color: black;
	width: 33%;
	margin-right: -6px;
}
.hebergement1
{
	border: 1px solid white;
	padding: 2px;
	display: flex;
	flex-direction: column;
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #e7e7e7;
	margin: 20px;

}

.heb1 
{
	padding: 5px;
 
}

.hebergement2
{
	border: 1px solid white;
	padding: 2px;
	display: flex;
	flex-direction: column;
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #e7e7e7;
	margin: 20px;
	
}
.heb2
{
	padding: 5px;

}

.hebergement3
{
	border: 1px solid white;
	padding: 2px;
	display: flex;
	flex-direction: column;
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #e7e7e7;
	margin: 20px;
	

}
.heb3 
{
	padding: 5px;

}
.hebergement4
{ 
	border: 1px solid white;
	padding: 2px;
	display: flex;
	flex-direction: column;
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #e7e7e7;
	margin: 20px;
 }
.heb4
{
	padding: 5px;

}
.hebergement5
{
	border: 1px solid white;
	padding: 2px;
	display: flex;
	flex-direction: column;
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #e7e7e7;
	margin: 20px;
}
.heb5 
{
	padding: 5px;

}
.hebergement6
{
	border: 1px solid white;
	padding: 2px;
	display: flex;
	flex-direction: column;
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #e7e7e7;
	margin: 20px;
}
.heb6 
{
	padding: 5px;

}

.plus /*aficher plus */
{

	align-self: flex-end;
	font-weight: bold;
	font-size: medium;
	padding-left: 50px;
	padding-bottom: 25px;
}


.container2 /*les plus populaires*/

{
	background-color: #f2f2f2;
	float: right;
	border-radius: 15px;
	order: 2;
	vertical-align: top;
	width: 30%;
	margin-left: 3%;
}
aside img
{
	border-radius: 15px 0px 0px 15px;
	width: 45%;
	height: 160px;
}

.popp /*titre populaire*/
{
	padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.trend 
{
	display: inline-flex;
}
aside .container2 div .AZERT i 
{
	float: right;
	padding-right: 10px;
}
div .container2 a
{
	text-decoration: none;
	color: black;
}
.populaire1
{
	border: 1px solid white;
	padding: 5px;
	margin: 10px;
  border-radius: 20px;
  border: 1px solid transparent;
	box-shadow: 0px 2px 5px #e7e7e7;
	height: 20%;
	margin-bottom: 40px;

}
.pop1
{
	float: right;
	padding: 5px;
}


.populaire2
{
	border: 1px solid white;
	padding: 5px;
	margin: 10px;
  border-radius: 20px;
  border: 1px solid transparent;
	box-shadow: 0px 2px 5px #e7e7e7;
	height: 20%;
	margin-bottom: 40px;

}
.pop2 
{
	float: right;
	padding: 5px;
}


.populaire3
{
	border: 1px solid white;
	padding: 5px;
	margin: 10px;
  border-radius: 20px;
  border: 1px solid transparent;
	box-shadow: 0px 2px 5px #e7e7e7;
	height: 20%;
	margin-bottom: 40px;

}
.pop3
{
	float: right;
	padding: 5px;
}


/*activite*/

.container3

{
	width: auto;
	font-weight: bold;
	order: 3;
	display: inline-flex;
	flex-flow: wrap row;   
}

#activités /*titre*/
{
	
	flex: 1400px;
	padding-bottom: 15px;
	
}

div .container3 img 
{
	border-radius: 15px 15px 0px 0px;
}
.f 
{
	padding: 40px;	
}
div .container3 a 
{
	text-decoration: none;
	color: black;
}
div .container3 div
{
	margin: -32px;
	padding-bottom: 50px;
}


.vieuxport 
{
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #F2F2F2;
	padding-bottom: 15px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	
}
.fortdepomegues
{
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #F2F2F2;
	margin-bottom: 45px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;	
}
.ilesdufrioul
{
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #F2F2F2;
	padding-bottom: 5px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
}
.parcnationaldescalanques
{
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #F2F2F2;
	padding-bottom: 15px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
}
.notredamedelagarde
{
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #F2F2F2;
	padding-bottom: 15px;
	margin-bottom: 45px ;
	border-radius: 20px;
	display: flex;
	flex-direction: column;	
}
.parclongchamp
{
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #F2F2F2;
	padding-bottom: 15px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;

	

}
div .container3 div .act1 .act2
{
	float: right;
}


/*footer*/
footer
{ 
	font-family: "Raleway", serif, sans-serif;
	background-color: #f2f2f2;
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	padding-top: 25px;
	padding-bottom: 50px;
	width: 100%;
	margin-right: -5%;
}
.container4
{
	display: inline-flex;	
}
.aa
	{
		padding-right: 90px;
		padding-left: 90px;
	}
figure
{
	background-color: white;
	border: none;
	border-radius: 15px;
}
@media all and (max-width: 1268px)
 {
 	div .reservia img
	{
		width: 30%;
		height: auto;
		margin: 15px;
		padding-top: 0px;
	}
 	.nav-link1
	{
		width: 43%;
		display: flex;
		justify-content: center;
		position: absolute;
 	  left: 30px;
 	  top: 50px;
    font-size: larger;
    margin: 20px;
 	  border-bottom: 3px solid #0065fc;
    padding-bottom: 10px;
	}
	.nav-link2
	{
		width: 40%;
		display: flex;
		justify-content: center;
	  position: absolute;
 	  right: 0px;
 	  top: 50px;
 	  font-size: larger;
 	  margin: 20px;
 	  border-bottom: 3px solid #F2F2F2;
    padding-bottom: 10px;

	}
	.nav-link3
	{
		font-weight: bold;
		align-self: flex-end;
		position: absolute;
		right: 60px;
		top: 15px;
	}
	nav a:hover 
    { 
	    border-top: none;
      border-bottom: 3px solid #0065fc;
      text-decoration: none;
    }
    nav .nav-link2:hover
    {
    	border-top: none;
    	border-bottom: 3px solid #f2f2f2;
    	text-decoration: none;
    }
    .trouver
	{
		font-size: 30px;
	  display: flex;
		flex-direction: row;
		padding-top: 55px;	
	}
	.epc /*en plein centre ville...*/
	{
		font-size: larger;
	}	
	label
	{
		display: none;
	}
	.search
	{
		display: block;
		justify-content: center;
		align-items: center;
		padding: 5px;
	}
	.filtremot
	{
		width: 100%;
		margin: 15px;
		display: flex;
	}
	.filtres
	{
		width: auto;
		display: flex;
		flex-flow: wrap row;
		font-size: larger;
		padding: 20px;
		margin-left: -40px;
		margin-right: 15px;
	}
	.hebetpop
	{
		display: flex;
		flex-direction: column;
	}
	.hebetpop :nth-child(1)
	{
		order: 2;
	}
	.hebetpop :nth-child(2)
	{
		order: 1;
	}
	div aside img 
	{
		border-radius: 15px  0px 0px 15px;
		object-fit: cover;
	}

	.container2 div
	{
		padding: 3px;
		font-size: small;
		align-self: flex-start;
		
	}
	.container2
	{
		width: auto;
	}
	.container2 h5
	{
		font-size: medium;
	}
	div .container2 figure
	{
		border: 1px solid transparent;
	  box-shadow: 0px 2px 5px #e7e7e7;
	  
	}
	.pop1 
	{
		width: 50%;
	}
	.pop3
	{
		width: 50%;
	}
	.pop2 
	{
		width: 50%;
	}
	.trend
	{
		margin-left: auto;
	}
	#hebergements
	{
		padding-left: 0px;
	}
	.container
	{
		width: auto;
		height: auto;
		margin-bottom: 10px;
		background-color: white;	
	}
	div .container1 img
	{
		width: auto;
		height: 250px;
	}
	div .container1 figure
	{
		display: flex;
		flex-direction: column-reverse;
		border: 1px solid transparent;
	  box-shadow: 0px 2px 5px #F2F2F2;
	}
	div .container1 div
	{
		font-size: x-large;
	}
	div .container1 a
	{
		width: 100%;
	}
	.plus
	{
		font-size: larger;
		padding-left: 0px;
	}
	.container3
	{
		width: auto;
		border: none;
		padding-bottom: 0px;
		margin-bottom: 35px;
	}
	div .container3 img 
	{
		width: 390px;
		height: 250px;
	}
 	footer
 	{
 		max-width: 100%;
 		flex-direction: column;
 		

 	} 	
 	.aa 
 	{
 		width: auto;
 		font-size: larger;
 		padding-left: 0px;
 		padding-right: 0px;
 	}


 @media all and (max-width: 450px)
 

 {
 	#tout
 	{
 		margin: 0 0 0 0;
 	}

 	body
 	{
 		margin: 0;
 	}
 	div .reservia img
	{
		width: 30%;
		height: auto;
		margin: 15px;
		padding-top: 0px;
	}
 	.nav-link1
	{
		width: 63%;
		display: flex;
		justify-content: center;
		position: absolute;
 	  left: 20px;
 	  top: 50px;
    font-size: larger;
    margin: 20px;
 	  border-bottom: 3px solid #0065fc;
    padding-bottom: 10px;
	}
	.nav-link2
	{
		width: 70%;
		display: flex;
		justify-content: center;
	  position: absolute;
 	  right: -180px;
 	  top: 50px;
 	  font-size: larger;
 	  margin: 20px;
 	  border-bottom: 3px solid #F2F2F2;
    padding-bottom: 10px;

	}
	.nav-link3
	{
		font-weight: bold;
		align-self: flex-end;
		position: absolute;
		right: -100px;
		top: 15px;
	}
	nav a:hover 
    { 
	    border-top: none;
      border-bottom: 3px solid #0065fc;
      text-decoration: none;
    }
    nav .nav-link2:hover
    {
    	border-top: none;
    	border-bottom: 3px solid #f2f2f2;
    	text-decoration: none;
    }
    .trouver
	{
		font-size: 30px;
	  display: flex;
		flex-direction: row;
		padding-top: 55px;	
		padding-left: 15px;
		width: 140%;
	}
	.epc /*en plein centre ville...*/
	{
		font-size: larger;
		padding-left: 15px;
	}	
	label
	{
		display: none;
	}
	.search
	{
		display: block;
		justify-content: center;
		align-items: center;
		padding: 5px;
	}
	.filtremot
	{
		width: 100%;
		margin: 15px;
		display: flex;
	}
	.filtres
	{
		width: 140%;
		display: flex;
		flex-flow: wrap row;
		font-size: larger;
		padding: 40px;
		padding-top: 0;
		margin-left: -40px;
		margin-right: 15px;
	}
	form 
	{
		padding: 15px;
	}
	.info
	{
		padding-left: 15px;
	}
	.hebetpop
	{
		display: flex;
		flex-direction: column;
	}
	.hebetpop :nth-child(1)
	{
		order: 2;
	}
	.hebetpop :nth-child(2)
	{
		order: 1;
	}
	div aside img 
	{
		border-radius: 15px  0px 0px 15px;
		object-fit: cover;
	}

	.container2 div
	{
		padding: 3px;
		font-size: small;
		align-self: flex-start;
		
	}
	.container2
	{
		margin-left: 0;
		width: 150%;
		border-radius: 0px;

	}
	.container2 h5
	{
		font-size: medium;
	}
	div .container2 figure
	{
		border: 1px solid transparent;
	  box-shadow: 0px 2px 5px #e7e7e7;
	  
	}
	.pop1 
	{
		width: 50%;
	}
	.pop3
	{
		width: 50%;
	}
	.pop2 
	{
		width: 50%;
	}
	.trend
	{
		margin-left: auto;
	}
	#hebergements
	{
		
	}
	.container
	{
		width: 150%;
		height: auto;
		margin-bottom: 10px;
		background-color: white;	
	}
	div .container1 img
	{
		
	}
	div .container1 figure
	{
		display: flex;
		flex-direction: column-reverse;
		border: 1px solid transparent;
	  box-shadow: 0px 2px 5px #F2F2F2;
	}
	div .container1 div
	{
		font-size: x-large;
	}
	div .container1 a
	{
		width: 100%;
	}
	.plus
	{
		font-size: larger;
		padding-left: 15px;
	}
	#activités
	{
		padding-left: 15px;
	}
	.container3
	{
		width: auto;
		border: none;
		padding-bottom: 0px;
		margin-bottom: 35px;

	}
	div .container3 div
	{
		margin: 0;
		padding-bottom: 0;
	}
	div .container3 img 
	{
		width: 100%;
		height: 250px;
	}
	div .container3 figure
	{
		width: 140%;
		margin: 15px;
	}
 	footer
 	{
 		max-width: 130%;
 		width: 120%;
 		flex-direction: column;
 		padding-left: 100px;	

 	} 	
 	.aa 
 	{
 		width: auto;
 		font-size: larger;
 		padding-left: 0px;
 		padding-right: 0px;
 	}

 }
