@font-face {
  font-family: "Bitstream Vera Serif Bold";
  src: url("/static/styles/libs/font-awesome/fonts/fontawesome-webfont.fdf491ce5ff5.woff");
}


p 
{
	
	font-size: small;

}


#tout

 {
 	
 	font-family: "Raleway", serif, sans-serif;
 	
}

header 
{
 	display: flex;
 	align-items: center;
 	justify-content: space-between;	
}
div .reservia img 
{
	width: 20%;
	height: auto;
	margin-right: 100px;
	padding-top: 2rem;
	left: 150px;
}
nav a:hover 
{
    border-top: 3px solid #0065fc;
    text-decoration: none;
}
 nav .nav-link2:hover
 {
 	 border-top: 3px solid gray;
 	 text-decoration: none;      
 }       
 li  
 {
 	display: inline-flex;
 	justify-content: space-between;
 	justify-content: flex-end;
 	list-style-type: none;
 	margin: 10px;
 	padding: 10px;
}
 .nav-link1
 {
 	color: #0065FC;
 	justify-content: flex-end;
 	position: absolute;
 	right: 400px;
 	top: 0px;
 	text-decoration: none;
 	padding-top: 50px;
 }

 .nav-link2
 {
 	color: gray;
 	justify-content: flex-end;
 	position: absolute;
 	right: 280px;
 	top: 0px;
 	text-decoration: none;
 	padding-top: 50px;
 }

 .nav-link3
 {
 	color: #0065FC;
 	justify-content: flex-end;
 	position: absolute;
 	right: 170px;
 	top: 0px;
 	text-decoration: none;
 	padding-top: 50px;
 }

 form 
 {
 	display: flex;
 	height: 30px;
 	width: 300px;
  	padding: 5px;

 }

 input
 {
 	font-weight: bold;
 	font-size: 15px;
  	border: 1px solid #f2f2f2;
 	padding: 15px;
 	margin: 0px;
 }
 
 .rech
 {
 	background-color:  #0065FC;
 	color: white;
 	text-align: justify;
 	font-size: 20px;
  	padding: 16px;
 	margin: 0px;
 	border-radius: 0px 10px 10px 0px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }
.search
{
	display: none;
}
.local
{
	border: solid #f2f2f2;
	padding: 13px;
	border-radius: 10px 0px 0px 10px;
	background-color: #f2f2f2;
	display: flex;
	justify-content: center;
	align-items: center;
}


h2 h3 h4 h5
{
	font-weight: bold;
}



 body /*pas necessaire*/
 {
 	background-image: url(Resevia.svg);
 	background-attachment: scroll;
 	background-repeat: no-repeat;
 	background-position: top left;
 }
 
 

 
/*barre de navigation */

.filtres
{
	margin: 7px;
	display: inline-flex;
	font-weight: bold ;

	
}
.filtremot
{
	padding-top: 15px;
	padding-right: 15px;
}

div .filtre1
{
	border: 1.5px solid #f2f2f2;
	border-radius: 20px;
	padding: 10px;
	margin: 7px;

}
.filtre1:hover
{
	text-decoration: none;
	background-color: #f2f2f2;
}

div .filtre2
{
	border: 1.5px solid #f2f2f2;
	border-radius: 20px;
	padding: 10px;
	margin: 7px;

}
.filtre2:hover
{
	text-decoration: none;
	background-color: #f2f2f2;
}
div .filtre3
{
	border: 1.5px solid #f2f2f2;
	border-radius: 20px;
	padding: 10px;
	margin: 7px;

}
.filtre3:hover
{
	text-decoration: none;
	background-color: #f2f2f2;
}
div .filtre4
{
	border: 1.5px solid #f2f2f2;
	border-radius: 20px;
	padding: 10px;
	margin: 7px;


}
.filtre4:hover
{
	text-decoration: none;
	background-color: #f2f2f2;
}

.hebetpop
{
	display: flex;


}


.info
{
	margin: 40px;
}

.iinfo
{
	color:white; 
	background-color: #0065FC; 
	font-size: 20px; 
	border-radius: 100px; 
	border-color: #f2f2f2; 
}
.etoiles 
{
	display: block;
}
.etoilebleu
{
	color:#0065FC; 
	background-color: white;
}
.etoilegrise
{
	color:#f2f2f2; 
	background-color: white
}
.container /*hebergement*/
{
	width: 879px;
	background-color: #f2f2f2;
	border-radius: 15px;
	padding-bottom: 40px;
	margin: 5px;

}
.container1

{   display: flex;
	flex-wrap: wrap;
       
}

#hebergements /*titre*/
{
	align-content: flex-start;
	flex: 800px;
	padding-left: 50px;
}
div .container1 img 
{
	border-radius: 15px 15px 0px 0px;
	margin-top: 2px;
}
div .container1 a 
{
	text-decoration: none;
	color: black;
}
.hebergement1
{
	border: 1px solid white;
	padding: 2px;
	display: flex;
	flex-direction: column;
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #e7e7e7;

}

.heb1 
{
	padding: 5px;
 
}

.hebergement2
{
	border: 1px solid white;
	padding: 2px;
	display: flex;
	flex-direction: column;
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #e7e7e7;
	
}
.heb2
{
	padding: 5px;

}

.hebergement3
{
	border: 1px solid white;
	padding: 2px;
	display: flex;
	flex-direction: column;
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #e7e7e7;
	

}
.heb3 
{
	padding: 5px;

}
.hebergement4
{ 
	border: 1px solid white;
	padding: 2px;
	display: flex;
	flex-direction: column;
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #e7e7e7;
 }
.heb4
{
	padding: 5px;

}
.hebergement5
{
	border: 1px solid white;
	padding: 2px;
	display: flex;
	flex-direction: column;
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #e7e7e7;
	

}
.heb5 
{
	padding: 5px;

}
.hebergement6
{
	border: 1px solid white;
	padding: 2px;
	display: flex;
	flex-direction: column;
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #e7e7e7;
	

}
.heb6 
{
	padding: 5px;

}

.plus /*aficher plus */
{

	align-self: flex-end;
	font-weight: bold;
	font-size: medium;
	padding-left: 50px;
	padding-bottom: 50px;
}


.container2 /*les plus populaires*/

{
	background-color: #f2f2f2;
	float: right;
	border-radius: 15px;
	margin: 5px;
	padding-bottom: 20px;
	order: 2;
	vertical-align: top;
}
aside img
{
	border-radius: 15px 0px 0px 15px ;
}

.popp /*titre populaire*/
{
	padding-left: 20px;

}
.trend 
{
	display: inline-flex;
	justify-content: flex-end;
	margin-left: 50px;
}
aside .container2 div .AZERT i 
{
	float: right;
	padding-right: 10px;
}
div .container2 a
{
	text-decoration: none;
	color: black;
}
.populaire1
{
	border: 1px solid white;
	padding: 5px;
	margin: 25px;
    border-radius: 20px;
    border: 1px solid transparent;
	box-shadow: 0px 2px 5px #e7e7e7;

}
.pop1
{
	float: right;
	padding: 5px;
}


.populaire2
{
	border: 1px solid white;
	padding: 5px;
	margin: 25px;
    border-radius: 20px;
    border: 1px solid transparent;
	box-shadow: 0px 2px 5px #e7e7e7;

}
.pop2 
{
	float: right;
	padding: 5px;
}


.populaire3
{
	border: 1px solid white;
	padding: 5px;
	margin: 25px;
    border-radius: 20px;
    border: 1px solid transparent;
	box-shadow: 0px 2px 5px #e7e7e7;

}
.pop3
{
	float: right;
	padding: 5px;
}


/*activite*/

.container3

{
	width: auto;
	font-weight: bold;
	order: 3;
	display: inline-flex;
	flex-flow: wrap row;


    
    
}

#activités /*titre*/
{
	
	flex: 1400px;
	padding-bottom: 15px;
	
}

div .container3 img 
{
	border-radius: 15px 15px 0px 0px;
}
.f 
{
	padding: 40px;	
}
div .container3 a 
{
	text-decoration: none;
	color: black;
}
div .container3 div
{
	margin: -36px;
	padding-bottom: 50px;
}


.vieuxport 
{
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #F2F2F2;
	padding-bottom: 15px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	
}


.fortdepomegues
{
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #F2F2F2;
	padding-bottom: 5px;
	margin-bottom: 45px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;

	
}
.ilesdufrioul
{
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #F2F2F2;
	padding-bottom: 5px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;

	
	

}
.parcnationaldescalanques
{
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #F2F2F2;
	padding-bottom: 15px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	

}


.notredamedelagarde
{
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #F2F2F2;
	padding-bottom: 15px;
	margin-bottom: 45px ;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	

}
.parclongchamp
{
	border: 1px solid transparent;
	box-shadow: 0px 2px 5px #F2F2F2;
	padding-bottom: 15px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;

	

}
div .container3 div .act1 .act2
{
	float: right;
}


/*footer*/
footer
{ 
	background-color: #f2f2f2;
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	padding-top: 25px;
	padding-bottom: 50px;
	margin-left: -50px;
	margin-right: -5px;
	width: 100%;
	padding-left: 50px;

	
}
.container4
{
	display: inline-flex;
	
}
.aa
	{
		padding-right: 170px;
	}


figure

{
	background-color: white;
	border: none;
	border-radius: 15px;
}

 @media all and (max-width: 1024px)
 {
 	div .reservia img
	{
		width: 30%;
		height: auto;
		margin: 15px;
		padding-top: 0px;
	}
 	.nav-link1
	{
		width: 43%;
		display: flex;
		justify-content: center;
		position: absolute;
 	  left: 30px;
 	  top: 50px;
    font-size: larger;
    margin: 20px;
 	  border-bottom: 3px solid #0065fc;
    padding-bottom: 10px;

	}
	.nav-link2
	{
		width: 40%;
		display: flex;
		justify-content: center;
	  position: absolute;
 	  right: 0px;
 	  top: 50px;
 	  font-size: larger;
 	  margin: 20px;
 	  border-bottom: 3px solid #F2F2F2;
    padding-bottom: 10px;

	}
	.nav-link3
	{
		font-weight: bold;
		align-self: flex-end;
		position: absolute;
		right: 60px;
		top: 15px;
	}

	nav a:hover 
    { 
	    border-top: none;
      border-bottom: 3px solid #0065fc;
      text-decoration: none;
    }
    nav .nav-link2:hover
    {
    	border-top: none;
    	border-bottom: 3px solid #f2f2f2;
    	text-decoration: none;
    }
    .trouver
	{
		font-size: 30px;
	  display: flex;
		flex-direction: row;
		padding-top: 55px;	
	}
	.epc /*en plein centre ville...*/
	{
		font-size: larger;
	}	
	label
	{
		display: none;
	}
	.search
	{
		display: block;
		justify-content: center;
		align-items: center;
		padding: 5px;
	}
	.filtremot
	{
		width: 100%;
		margin: 15px;
		display: flex;
	}
	.filtres
	{
		width: auto;
		display: flex;
		flex-flow: wrap row;
		font-size: larger;
		padding: 40px;
		margin-left: -40px;
		margin-right: 15px;
	}
	.hebetpop
	{
		display: flex;
		flex-direction: column;
	}
	.hebetpop :nth-child(1)
	{
		order: 2;
	}
	.hebetpop :nth-child(2)
	{
		order: 1;
	}
	div aside img 
	{
		width: 100%;
		height: 400px;
		border-radius: 15px 15px 0px 0px;
		object-fit: cover;
	}

	.container2 div
	{
		padding: 3px;
		font-size: small;
		align-self: flex-start;
		float: none;
	}
	.container2
	{
		width: 100%;
	}
	.container2 h5
	{
		font-size: medium;
	}
	div .container2 figure
	{
		border: 1px solid transparent;
	  box-shadow: 0px 2px 5px #e7e7e7;
	  margin: 50px;

	}
	.trend
	{
		margin-left: 200px;
	}
	#hebergements
	{
		padding-left: 0px;
	}

	.container
	{
		width: auto;
		height: auto;
		margin-bottom: 10px;
		background-color: white;
		
	}
	div .container1 img
	{
		width: 350px;
		height: 250px;
	}
	div .container1 figure
	{
		display: flex;
		flex-direction: column-reverse;
		border: 1px solid transparent;
	  box-shadow: 0px 2px 5px #F2F2F2;
	}
	div .container1 div
	{
		font-size: x-large;
	}
	.plus
	{
		font-size: larger;
		padding-left: 0px;
	}
	.container3
	{
		width: auto;
		border: none;
		padding-bottom: 0px;
		margin-bottom: 35px;
	}
	div .container3 img 
	{
		width: 390px;
		height: 250px;
	}

 	footer
 	{
 		max-width: 100%;
 		flex-direction: column;
 	}
 	
 	.aa 
 	{
 		width: auto;
 	}

 }
